@*@model CardResponse*@
@model List<Card>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cards!</h1>
</div>


@*<div>
    The ID of the Deck is: @Model
</div>
*@

@foreach (Card card in Model){
    <img src="@card.image">
}
