@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Starwars Catalog!</h1>

    <div><a href="home/filmdetails/1">A New Hope</a></div>
    <div><a href="home/filmdetails/2">The Empire Strikes Back</a></div>
    <div><a href="home/filmdetails/3">Return of the Jedi</a></div>
    <div><a href="home/filmdetails/4">The Phantom Menace</a></div>
    <div><a href="home/filmdetails/5">Attack of the Clones</a></div>
    <div><a href="home/filmdetails/6">Revenge of the Sith</a></div>
</div>
